@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  /* Modify scrollbar styles */
  .scrollbar::-webkit-scrollbar {
    @apply w-1;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply rounded-md bg-[#3d3d3d66];
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-md bg-[#292929];
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-[#4b4b4b];
  }

  /* Progress range slider */
  /* Basic slider styling */
  .slider {
    -webkit-appearance: none;
    appearance: none;
    /* Remove default styling in WebKit browsers */
    width: 100%;
    height: 8px;
    /* Height of the slider track */
    background: linear-gradient(to right, black 0%, black var(--thumb-position), #0000001F var(--thumb-position), #0000001F 100%);
    /* Make the background of the slider transparent */
    outline: none;
    /* Remove the outline */
    border-radius: 5px;
    /* Optional: round the slider track */
  }

  /* Slider track (the portion before the thumb) */
  /* .slider::-webkit-slider-runnable-track {
    width: 100%;
    /* height: 8px; */
  /* background: linear-gradient(to right, black 0%, black var(--thumb-position), #0000001F var(--thumb-position), #0000001F 100%);
    border-radius: 5px; */
  /* Optional: round the slider track */
  /* } */

  /* Slider thumb */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Remove default styling in WebKit browsers */
    width: 20px;
    /* Width of the thumb */
    height: 20px;
    /* Height of the thumb */
    background: #000000;
    /* Color of the thumb */
    cursor: pointer;
    /* Pointer cursor on hover */
    border-radius: 50%;
    /* Make the thumb round */
    /* position: relative; */
    /* Position the thumb */
    /* z-index: 1; */
    /* Make sure thumb is above the track */
  }

  /* Slider track for Firefox */
  .slider::-moz-range-track {
    width: 100%;
    height: 8px;
    background: linear-gradient(to right, black 0%, black var(--thumb-position), #0000001F var(--thumb-position), #0000001F 100%);
    border-radius: 5px;
    /* Optional: round the slider track */
  }

  /* Slider thumb for Firefox */
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #000000;
    cursor: pointer;
    border-radius: 50%;
  }

  /* Slider track for other browsers */
  .slider::-ms-track {
    width: 100%;
    height: 8px;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  /* Slider track for Internet Explorer */
  .slider::-ms-fill-lower {
    background: black;
  }

  /* Slider track for Internet Explorer */
  .slider::-ms-fill-upper {
    background: white;
  }

  .silver-gradient {
    background-image: linear-gradient(118.67deg, #EEEEEE 0%, #9B9B9B 144.01%);
  }

  .gold-gradient {
    background-image: linear-gradient(118.8deg, #FFF7DC 0%, #D8B84D 128.06%);
  }

  /* Overriding default input autofill bg */
  /* For Chrome, Safari, and Edge */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    /* Change the background color */
    box-shadow: 0 0 0px 1000px white inset;
    /* Apply the same change for other browsers */
    -webkit-text-fill-color: inherit;
    /* Maintain the original text color */
    transition: background-color 5000s ease-in-out 0s;
    /* Prevent flashing on load */
  }

  /* For Firefox */
  input:-moz-autofill,
  textarea:-moz-autofill,
  select:-moz-autofill {
    box-shadow: 0 0 0px 1000px white inset;
    text-fill-color: inherit;
  }

}